body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Yekan', sans-serif;
    font-size: 13px;
}

@font-face {
    font-family: Yekan;
    src: url(./font/Yekan.ttf);
}

.container-castum {
    max-width: 1700px;
    margin: 0 auto;
}

.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
    min-width: 100%;
}

.table-title h2 {
    margin: 10px 15px 0px 0px;
    font-size: 22px;
}

.search-box {
    position: relative;
    float: right;
    width: 47%;
}

.search-box input {
    height: 45px;
    border-radius: 10px;
    padding-right: 50px;
    border-color: #ddd;
    box-shadow: none;
    direction: rtl;
}

/* .search-box input:focus {
    border-color: #3FBAE4;
    box-shadow: 0px 0px 7px 6px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px 0px 7px 6px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 7px 6px rgba(0,0,0,0.59);
} */

.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 14px;
    right: 10px;
    object-position: center;
}

table {
    text-align: center;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
}

table tr:hover {
    cursor: pointer;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #baddfb;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

/* table.table td:last-child {
    width: 130px;
} */

table.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
}

.table td,
.table th {
    padding: .6rem !important;
    align-content: center;
}

table {

    width: 100%;
}

td:nth-child(11),
td:nth-child(10) {
    width: 3%;
    text-wrap: nowrap;
    overflow: hidden;
}

td:nth-child(9) {
    width: 3%;
    text-wrap: nowrap;
    overflow: hidden;
}

td:nth-child(8),
td:nth-child(7) {
    width: 5%;
    text-wrap: nowrap;
    overflow: hidden;
}

td:nth-child(6),
td:nth-child(5),
td:nth-child(4),
td:nth-child(3),
td:nth-child(2),
td:nth-child(1) {
    width: 8%;
    text-wrap: nowrap;
    overflow: hidden;
}

td:nth-child(3),
td:nth-child(2) {
    width: 5%;
    text-wrap: nowrap;
    overflow: hidden;
}

td:nth-child(1) {
    min-width: 15rem;
    max-width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    overflow-wrap: anywhere;
    direction: rtl;
    font-size: 11px;

}

table.table td a.view {
    color: #03A9F4;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #E34724;
}

table.table td i {
    font-size: 19px;
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a {
    background: #03A9F4;
}

.pagination li.active a:hover {
    background: #0397d6;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}

.hide {
    display: none;
}

.shownum {
    display: block !important;
}

.inner-search {
    box-shadow: inset 0px 1px 11px 0px rgba(0, 0, 0, .24);
    border: none;
    border-radius: 5px;
    height: 2rem;
    direction: rtl;
    padding-right: 10px;
    min-width: 100%;

}

.inner-search:focus {
    outline-width: 0;
    box-shadow: 0px 0px 5px 5px rgba(194, 218, 255, 1);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(194, 218, 255, 1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(194, 218, 255, 1);
    border: none;
}

input[type=checkbox] {
    transform: scale(1.5);
}



.filterIcon {
    height: 16px;
    width: 16px;
}

.modalFilter {
    display: none;
    height: auto;
    background: #FFF;
    border: solid 1px #ccc;
    padding: 8px;
    position: absolute;
    z-index: 1001;
}

.modalFilter .modal-content {
    max-height: 250px;
    overflow-y: auto;
}

.modalFilter .modal-footer {
    background: #FFF;
    height: 35px;
    padding-top: 6px;
}

.modalFilter .btn {
    padding: 0 1em;
    height: 28px;
    line-height: 28px;
    text-transform: none;
}

#mask {
    display: none;
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 1000;
}

.col-md-3 {
    text-align: right;
    margin-top: 1rem;
}
.badge i {
    font-size: 30px;
    position: relative;
}
.badge span{
    position: absolute;
    font-size: 13px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    font-family: monospace;
    padding: 6px;
    right: -11px;
    bottom: -3px;
}
